[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
torch = "*"
numpy = "*"
scikit-learn = "*"
setuptools-rust = "*"
tokenizers = "*"
tqdm = "*"
transformers = "*"
tensorboardx = "*"
jupyterlab = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
